body{
  background-color: black;
}

#imagem{
width: 42px;
height: 44px;
background: url(Ednaldo_Pereira.jpg);
border-radius: 50px;
}
#nome{

width: 234px;
height: 55px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}
#criarhistoria{
width: 156px;
height: 22px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: rgba(255, 255, 255, 0.43);
background-color: transparent;
border: none;
margin-top: 15vw;
}
#botao{
  margin-top: 15vw;
width: 39px;
height: 26px;
background-color: transparent;
  border: none;
  float: right;
}
#botao img{
  width: 4.5vh;

  
}
#linha{

width: 100%;
height: 0px;
opacity: 0.5;
border: 0.1px solid rgba(255, 255, 255, 0.21);
transform: rotate(0.16deg);

}
#nomepessoa{
width: 226px;
height: 21px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
#em{
width: 24px;
height: 24px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #FFFFFF;
}
#nomelugar{

width: 117px;
height: 22px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
color: #647BCD;
}
#min{
width: 48px;
height: 24px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;

color: rgba(255, 255, 255, 0.54);
}
#imagemlocal{
width: 355px;
height: 227px;
border-radius: 4px;
}
#historia{
width: 287px;
height: 105px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
#titulo{
  /* Título da história */


width: 226px;
height: 21px;


font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;


}
#expandir{
width: 100px;
height: 36px;
background: rgba(213, 213, 213, 0.75);
border-radius: 18px;
}
#info{
width: 97px;
height: 36px;
background: rgba(213, 213, 213, 0.75);
border-radius: 18px;

}

