/**/
#login{
  margin-left: 17vh;
  margin-top: 35vw;
  text-align: center
}
#senha{
  margin-left: 17vh;
  margin-top: 10vw;
  text-align: center;
}
#nome{
  margin-left: 17vh;
  margin-top: 10vw;
  text-align: center;
}
#email{
  margin-left: 17vh;
  margin-top: 10vw;
  text-align: center;
}
.label{
  margin-left:26vh; 
  margin-top: 2vw;
}
#btnLogin{
margin-left: 20vh;
margin-top: 7vw;
}
#btnEnviar{
  margin-left: 25vh;
  margin-top: 7vw
}

